.header-text {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
}

.header-level-two {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
}

.header-level-three {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

.text-size-16 {
    font-size: 16px;
    line-height: 24px;
}

.text-size-30 {
    font-size: 30px;
    line-height: 45px;
}

.text-size-32 {
    font-size: 32px;
    line-height: 48px;
}

.text-size-64 {
    font-size: 64px;
    line-height: 96px;
}

.uppercase {
    text-transform: uppercase;
}

.vertical-align-super {
    vertical-align: super;
}

.text-center {
    text-align: center;
}

.color-white {
    color: $white-color;
}

.color-orange {
    color: $orange-color;
}

