.header-text {
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;

    @include tablet {
        font-size: 45px;
        line-height: 60px;
    }

    @include mobile {
        font-size: 30px;
        line-height: 45px;
    }
}

.header-level-two {
    font-size: 38px;
    font-weight: 700;
    line-height: 57px;

    @include tablet {
        font-size: 25px;
        line-height: 35px;
    }

    @include mobile {
        font-size: 18px;
        line-height: 27px;
    }
}

.header-level-three {
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
}

.text-small {
    font-size: 13px;
    line-height: 19px;
}

.text-size-16 {
    font-size: 16px;
    line-height: 24px;
}

.text-size-30 {
    font-size: 30px;
    line-height: 45px;
    font-weight: normal;

    @include mobile {
        font-size: 18px;
        line-height: 27px;
    }
}

.text-size-32 {
    font-size: 16px;
    line-height: 26px;
}

.text-size-64 {
    font-size: 64px;
    line-height: 96px;
}

.uppercase {
    text-transform: uppercase;
}

.vertical-align-super {
    vertical-align: super;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.color-white {
    color: $white-color;
}

.color-gray {
    color: $gray-color;
}

.color-orange {
    color: $orange-color;
}