.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-bottom-39 {
    margin-bottom: 39px;
}

.margin-bottom-48 {
    margin-bottom: 48px;
}

.margin-bottom-64 {
    margin-bottom: 64px;
}

.margin-bottom-180 {
    margin-bottom: 180px;
}

.margin-right-16 {
    margin-right: 16px;
}

.margin-right-24 {
    margin-right: 24px;
}

.margin-right-88 {
    margin-right: 88px;
}