@mixin header {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
}

@mixin header-level-two {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
}

@mixin header-level-three {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

@mixin header-level-four {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}

@mixin text-size-16 {
    font-size: 16px;
    line-height: 24px;
}

@mixin capitalize-bold {
    font-weight: 700;
}