$black-color: #08020D;
$gray-color: #E0E0E0;
$dark-gray-color: #CACACA;
$dark-color: #3C3B3D;
$green-color: #34C176;
$orange-color: #F89202;
$purple-color: #5328A1;
$red-color: #95390C;
$white-color: #FFF;
