.main-banner {
    padding: 200px 0 0 0;
    width: 100%;
    min-height: 751px;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;

    @include desktop {
        background-position: -110px;
    }

    @include mobile {
        background-position: -700px;
        min-height: 851px;
        padding: 250px 20px 0 20px;
    }

    .main-banner__form {
        width: 40%;
        margin: 0 auto;

        @include mobile {
            width: 100%;
        }
    }
}

.main-banner-artist {
    padding: 250px 120px 0 120px;
    width: 100%;
    min-height: 714px;
    background-image: url('../images/Morten-Harket.png');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
    background-position: -500px;

    @include mobile {
        background-position: -1100px;
        min-height: 730px;
        padding: 225px 20px 0 20px;
    }
}