.main-banner {
    padding: 200px 0 0 0;
    width: 100%;
    min-height: 713px;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    box-sizing: border-box;

    @include mobile {
        min-height: 862px;
        padding: 250px 20px 0 20px;
    }

    .main-banner__form {
        width: 47%;
        margin: 0 auto;

        @include mobile {
            width: 100%;
        }
    }
}

.main-banner-artist {
    padding-top: 250px;
    width: 100%;
    min-height: 713px;
    background-image: url('../images/Morten Harket.png');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
    background-position: -500px;
}