.pricing {

    @for $i from 1 through 3 {
        .price-item:nth-of-type(#{$i}) {
            background-image: url(../images/subscribe_#{$i}.png);
        }
    }

    .price-item {
        padding: 24px 22px 66px;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        border-radius: 16px;

        @include tablet {
            margin: 0 0 50px;
        }

        @include mobile {
            padding: 16px 24px 66px;
        }
    }
}