.transparent {
    background-color: transparent;
}

.button {
    border-radius: 5px;
    padding: 21px 0;
    text-align: center;
    text-transform: uppercase;
}

.button-main-banner {
    padding: 21px 31px;
}

.white-button {
    color: $white-color;
    border: 1px solid $white-color;
    background-color: transparent;
}

.dark-gray-button {
    color: $dark-gray-color;
    border: 1px solid $dark-gray-color;
    background-color: transparent;
}

.green-background-button {
    color: $white-color;
    background-color: $green-color;
    border: none;
}

.red-button {
    color: $white-color;
    background-color: $red-color;
    border: none;
}

.purple-button {
    color: $white-color;
    background-color: $purple-color;
    border: none;
}

.round {
    border-radius: 32px;
}