.padding-bottom-46 {
    padding-bottom: 46px;
}

.padding-bottom-48 {
    padding-bottom: 48px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-top-12 {
    padding-top: 12px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-41 {
    padding-top: 41px;
}

.padding-top-61 {
    padding-top: 61px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-horisontal-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-horisontal-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-horisontal-120 {
    padding-left: 120px;
    padding-right: 120px;
}


.padding-vertical-13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.padding-vertical-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}